---
---

$color-a: #eaf8ff;
$color-b: #fff;

* { box-sizing: border-box; }

body {
  font-family: 'Fira Sans', Arial, sans-serif;
  font-size: 18px;
}

abbr {
	text-transform: lowercase;
	font-variant: small-caps;
	letter-spacing: 1px;
}

.jumbotron {
  min-height: 20em;

  h1 {
    font-size: 300%;
  }

  h2 {
    font-weight: 400;
  }

  .links, .btns {
    font-size: 120%;
  }
}

.btns {
  iframe {
    vertical-align: middle;
  }
}

section {
  width: 100%;
  min-height: 20em;
  padding: 2em;

  &.feature {
    img {
      padding: 1em;
      max-height: 15em;
    }

    &:nth-child(2n) {
      background: $color-a;
    }

    &:nth-child(2n + 1) {
      background: $color-b;
    }
  }

  &.people {
    ul {
      list-style: none;
      li {
        min-height: 5em;
      }
    }
  }
}
